@media(max-width:400px){
    body{
        background-color: black;
    }
    .whole{
        text-align: center;
    }
    img{
        width: 90%;
        height: 450px;
        padding: 10px;
        border: 2px solid tomato;
        border-radius: 30px;
    }
    b{
        display: block;
        padding: 20px;
        font-size: 24px;
        color: aliceblue;
    }
    .first{
        color: aqua;
    }
    .second{
        color: aqua;
    }
    .third{
        color: aqua;
    }
    .forth{
        color: aqua;
    }
}